h1{
    color: #66540e;
    font-size:50px;
    font-weight:700;
    text-align:center;
}

a{
    text-decoration:none
}

h2{
    text-align:center;
    color: #480c0c;
    font-weight:400;
}

div{
    display:flex;
    justify-content: center;
}
